.Main_chat
  .Main_chat__header
    .Main_chat__box
      .Groupname
        = @group.name
      .Groupmember__box
        .Groupmember__name 
          Member:
        .Groupmember
          - @group.users.each do |user|
            = user.name
    .Main_chat__groupedit
      = link_to edit_group_path(@group), class:"edit" do
        = "Edit"
  .Main_chat__message
    = render @messages
  .Main_chat__form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :content, class: 'Form__text', placeholder: 'type a message'
        = f.label :image, class: 'Form__image' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'Form__editbtn'


    