.Side_bar
  .Side_bar__header
    .Side_bar__headerbox
      %h1.Side_bar__username
        = current_user.name
      %ul.Side_bar__rightbox
        %li.Side_bar__lefticon
          = link_to new_group_path(current_user), class: "newgroup" do
            = icon('fas','edit')
        %li.Side_bar__righticon
          = link_to edit_user_path(current_user), class: "useredit" do
            = icon('fas', 'cog')
  .Side_bar__grouplist
    .Side_bar__groups
      .Side_bar__grouplistname
        techamp
      .Side_bar__groupmessages
        まだメッセージがありません
    .Side_bar__groups
      .Side_bar__grouplistname
        techamp
      .Side_bar__groupmessages
        まだメッセージがありません
    .Side_bar__groups
      .Side_bar__grouplistname
        techamp
      .Side_bar__groupmessages
        まだメッセージがありません
  